<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台首页 - QAdmin后台模板</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/quickadmin/admin/css/style.css">
    <script src="/layui/layui.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/vue.min.js"></script>
</head>
<body>
<div id="app">
    <!--顶栏-->
    <div th:insert="~{/quickadmin/common::headerBar}"></div>
    <div class="main" id="app">
        <!--左栏-->
        <div th:insert="~{/quickadmin/common::menu}"></div>
        <!--右侧-->
        <div class="right">
            <script type="text/javascript">
                layui.use('layer',function(){
                    layer.msg('<h2>清除成功</h2> <p id="">页面自动  <a id="href" href="index.html">跳转</a> 等待时间： <b id="wait">3</b></p> ', {icon: 1,shade:0.5});
                })

                !(function run(wait){
                    if(wait <= 0) {
                        location.href = "index.html";
                    }else{
                        wait--;
                        setTimeout(function(){
                            document.getElementById("wait").innerHTML = wait;
                            run(wait);
                        },1000);
                    }
                })(3);
            </script>
        </div>
    </div>
</div>
<script src="/quickadmin/admin/js/config.js"></script>
<script src="/quickadmin/admin/js/script.js"></script>
<script type="text/javascript">
    delCache();
</script>
</body>
</html>
