<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--顶栏-->
<header th:fragment="headerBar">
    <h1 th:text="${session.adminUser != null ? session.adminUser.userName : ''}"></h1>
    <div class="breadcrumb">
        <i class="layui-icon">&#xe715;</i>
        <ul>
            <li v-for="vo in address">
                <a  v-text="vo.name" :href="vo.url" ></a> <span>/</span>
            </li>
        </ul>
    </div>
</header>
<!--左栏-->
<div class="left" th:fragment="menu">
    <ul class="cl" th:if="${session.adminUser != null && session.adminUser.menuList != null}">
        <li th:each="menu : ${session.adminUser.menuList}">
            <!--父级分类-->
            <a th:if="${menu.parentId == null}" th:href="${menu.menuUrl != null ? menu.menuUrl : 'javascript:;'}">
                <i class="layui-icon">[[${menu.menuIco}]]</i>
                <span th:text="${menu.menuName}"></span>
                <i class="layui-icon arrow">&#xe61a;</i>
                <i class="layui-icon active">&#xe623;</i>
            </a>
            <!--子级分类-->
            <div th:if="${menu.parentId != null}" >
                <a th:text="${menu.menuName}" th:href="${menu.menuUrl != null ? menu.menuUrl : 'javascript:;'}"></a>
                <i class="layui-icon active">&#xe623;</i>
            </div>
        </li>

<!--        <li v-for="vo,index in menu" :class="{hidden:vo.hidden}">-->
<!--            &lt;!&ndash;父级分类&ndash;&gt;-->
<!--            <a href="javascript:;" :class="{active:vo.active}" @click="onActive(index)">-->
<!--                <i class="layui-icon" v-html="vo.icon"></i>-->
<!--                <span v-text="vo.name"></span>-->
<!--                <i class="layui-icon arrow" v-show="vo.url.length==0">&#xe61a;</i>-->
<!--                <i v-show="vo.active" class="layui-icon active">&#xe623;</i>-->
<!--            </a>-->
<!--            &lt;!&ndash;子级分类&ndash;&gt;-->
<!--            <div v-for="vo2,index2 in vo.list">-->
<!--                <a href="javascript:;" :class="{active:vo2.active}" @click="onActive(index,index2)" v-text="vo2.name"></a>-->
<!--                <i v-show="vo2.active" class="layui-icon active">&#xe623;</i>-->
<!--            </div>-->
<!--        </li>-->
    </ul>
</div>
</html>