<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理员登陆 - QAdmin后台模板</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/qadmin/admin/css/login.css">
    <script src="/layui/layui.js"></script>
</head>

<body id="login">
<div class="login">
    <h2>[[#{login.title}]]</h2>
    <p align="center" style="color: red;margin-bottom: 30px;" th:text="${info}"></p>
    <form class="layui-form" method="post" th:action="@{/qadmin/login}">
        <div class="layui-form-item">
            <input type="username" name="user" th:placeholder="#{login.username}" required lay-verify="required"  class="layui-input">
            <i class="layui-icon input-icon">&#xe66f;</i>
        </div>
        <div class="layui-form-item">
            <input type="password" name="pwd" th:placeholder="#{login.password}" required lay-verify="required"  class="layui-input">
            <i class="layui-icon input-icon">&#xe673;</i>
        </div>
        <div class="layui-form-item">
            <input type="checkbox" name="box" lay-skin="primary" th:title="#{login.remember}" checked="">
            <a class="back" href="javascript:;"  style="margin-top: 10px">[[#{login.forget}]]</a>
        </div>
        <div class="layui-form-item">
            <button style="width: 100%" class="layui-btn" lay-submit lay-filter="login" type="submit" th:text="#{login.sign}"></button>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <a th:href="@{/(l='zh_CN')}">中文</a>
            <a th:href="@{/(l='en_US')}">English</a>
        </div>
    </form>
<!--    <script>-->
<!--        layui.use('form', function () {-->
<!--            var form = layui.form,-->
<!--                layer = layui.layer,-->
<!--                $ = layui.jquery;-->
<!--            form.on('submit(login)', function (data) {-->
<!--                sessionStorage.isLgoin = 1; //模拟登录状态,实际使用时请删除掉-->
<!--                layer.load({-->
<!--                    shade: 0.5,-->
<!--                    time: 0,-->
<!--                });-->
<!--                // window.location.href = 'index.html';-->
<!--                return false;-->
<!--            });-->
<!--        });-->
<!--    </script>-->
</div>
</body>

</html>
