<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用户列表 - QAdmin后台模板</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/qadmin/admin/css/style.css">
    <script src="/layui/layui.js"></script>
    <script src="/qadmin/common/jquery-3.3.1.min.js"></script>
    <script src="/qadmin/common/vue.min.js"></script>
</head>
<body>
<div id="app">
    <!--顶栏-->
    <div th:insert="~{/qadmin/common::headerBar}"></div>
    <div class="main" id="app">
        <!--左栏-->
        <div th:insert="~{/qadmin/common::menu}"></div>
        <!--右侧-->
        <div class="right">
            <div class="layui-row">
                <div class="layui-col-lg8">
                    <a href="?/admin/user/index/connect/qq.html" class="layui-btn">QQ</a>
                    <a href="?/admin/user/index/connect/weibo.html" class="layui-btn">微博</a>
                    <a href="?/admin/user/index/connect/weixin.html" class="layui-btn">微信</a>
                    <a href="?/admin/user/index/connect/alipay.html" class="layui-btn">支付宝</a>
                    <a href="?/admin/user/index/connect/xcx.html" class="layui-btn">小程序</a>
                </div>
                <div  class="layui-col-lg4" style="text-align: right">
                    <div class="layui-input-inline" style="width: 300px">
                        <input type="text" name="k" value="" placeholder="手机/用户名/邮箱/昵称" class="layui-input key">
                    </div>
                    <button type="button" class="layui-btn sou">搜索</button>
                </div>
            </div>
            <table class="layui-table layui-form">
                <thead>
                <tr>
                    <th><a href="?/admin/user/index/order/uid.html">UID</a></th>
                    <th>手机</th>
                    <th>用户名</th>
                    <th>昵称</th>
                    <th>qq</th>
                    <th>邮箱</th>
                    <th>注册时间</th>
                    <th>登录时间</th>
                    <th>登录次数</th>
                    <th>状态</th>
                    <th>认证</th>
                    <th>关联</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${userList}">
                    <td th:text="${user.userId}"></td>
                    <td></td>
                    <td th:text="${user.userName}"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td th:text="${#dates.format(user.sysCreateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(user.sysUpdateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td></td>
                    <td>
                        <input type="checkbox" th:checked="${user.isDelete=='0'}" th:disabled="${user.isDelete=='1'}" lay-filter="state" data-uid="36567" lay-text="正常|封禁" name="switch" lay-skin="switch">
                    </td>
                    <td></td>
                    <td></td>
                    <td><a th:href="@{/qadmin/deleteUser/}+${user.userId}" th:text="${user.isDelete=='1' ? '恢复' : '封禁'}"></a></td>
                </tr>
                </tbody>
            </table>
            <div class="page"><ul class="pagination"><li class="disabled"><span>&laquo;</span></li>
                <li class="active"><span>1</span></li>
                <li><a href="/qadmin/userList?page=2">2</a></li>
                <li><a href="/qadmin/userList?page=3">3</a></li>
                <li class="disabled"><span>...</span></li>
                <li><a href="/qadmin/userList?page=109">19</a></li>
                <li><a href="/qadmin/userList?page=110">20</a></li>
                <li><a href="/qadmin/userList?page=2">&raquo;</a></li></ul></div>
        </div>
    </div>
</div>
<script src="/qadmin/admin/js/config.js"></script>
<script src="/qadmin/admin/js/script.js"></script>
</body>
</html>
