<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html;charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="device-width,initail-scale=l" />
<link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="panel panel-primary">
		<div class="panel-heading" align="center" style="margin-top: 150px;">
			<h1 class="panel-title">401 未授权 ! ! !</h1>
		</div>
	</div>
</body>
</html>