<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登陆聊天</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.9.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/chat.js}"></script>
    <link rel="stylesheet" th:href="@{/cs/chat.css}"/>
</head>
<body>
<div class="container">
    <div class="content">
        <div class="item item-center">
            <span>昨天 12:35</span>
        </div>
        <div class="item item-center"><span>你已添加了凡繁烦，现在可以开始聊天了。</span></div>
        <div class="item item-left">
            <div class="avatar">
                <img th:src="@{/img/img1.jpg}" />
            </div>
            <div class="bubble bubble-left">您好,我在武汉，你可以直接送过来吗，我有时间的话，可以自己过去拿<br/>！！！<br/>123</div>
        </div>
        <div class="item item-right">
            <div class="bubble bubble-right">hello<br/>你好呀</div>
            <div class="avatar">
                <img th:src="@{/img/img2.jpg}" />
            </div>
        </div>
    </div>
    <div class="input-area">
        <textarea name="text" id="textarea"></textarea>
        <div class="button-area">
            <button id="send-btn" onclick="send()">发 送</button>
        </div>
    </div>
</div>
</body>
</html>