<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.demo.model.mapper.ISysMenuMapper">
  <resultMap id="BaseResultMap" type="com.www.demo.model.entity.SysMenuEntity">
    <id column="MENU_ID" jdbcType="DECIMAL" property="menuId" />
    <result column="MENU_CODE" jdbcType="VARCHAR" property="menuCode" />
    <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="PARENT_ID" jdbcType="DECIMAL" property="parentId" />
    <result column="MENU_ICON" jdbcType="VARCHAR" property="menuIcon" />
    <result column="MENU_URL" jdbcType="VARCHAR" property="menuUrl" />
    <result column="ORDER_NUM" jdbcType="DECIMAL" property="orderNum" />
    <result column="IS_DELETE" jdbcType="CHAR" property="isDelete" />
    <result column="SYS_UPDATE_DATE" jdbcType="TIMESTAMP" property="sysUpdateDate" />
    <result column="SYS_CREATE_DATE" jdbcType="TIMESTAMP" property="sysCreateDate" />
  </resultMap>

  <sql id="Base_Column_List">
    MENU_ID, MENU_CODE, MENU_NAME, PARENT_ID, MENU_ICON,MENU_URL, ORDER_NUM, IS_DELETE, SYS_UPDATE_DATE,
    SYS_CREATE_DATE
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_MENU
    where MENU_ID = #{menuId,jdbcType=DECIMAL}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from SYS_MENU
    where MENU_ID = #{menuId,jdbcType=DECIMAL}
  </delete>

  <insert id="insert" parameterType="com.www.demo.model.entity.SysMenuEntity">
    insert into SYS_MENU (MENU_ID, MENU_CODE, MENU_NAME, 
      PARENT_ID, MENU_ICON,MENU_URL, ORDER_NUM,
      IS_DELETE, SYS_UPDATE_DATE, SYS_CREATE_DATE
      )
    values (#{menuId,jdbcType=DECIMAL}, #{menuCode,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=DECIMAL}, #{menuIcon,jdbcType=VARCHAR},#{menuUrl,jdbcType=VARCHAR}, #{orderNum,jdbcType=DECIMAL},
      #{isDelete,jdbcType=CHAR}, sysdate, sysdate
      )
  </insert>

  <insert id="insertSelective" parameterType="com.www.demo.model.entity.SysMenuEntity">
    insert into SYS_MENU
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        MENU_ID,
      </if>
      <if test="menuCode != null">
        MENU_CODE,
      </if>
      <if test="menuName != null">
        MENU_NAME,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="menuIcon != null">
        MENU_ICON,
      </if>
      <if test="menuUrl != null">
        MENU_URL,
      </if>
      <if test="orderNum != null">
        ORDER_NUM,
      </if>
      <if test="isDelete != null">
        IS_DELETE,
      </if>
        SYS_UPDATE_DATE,
        SYS_CREATE_DATE,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=DECIMAL},
      </if>
      <if test="menuCode != null">
        #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="menuIcon != null">
        #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=DECIMAL},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=CHAR},
      </if>
        #{sysUpdateDate,jdbcType=TIMESTAMP},
        #{sysCreateDate,jdbcType=TIMESTAMP},
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.www.demo.model.entity.SysMenuEntity">
    update SYS_MENU
    <set>
      <if test="menuCode != null">updateByPrimaryKeySelective
        MENU_CODE = #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="menuUrl != null">
        MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null">
        MENU_ICON = #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        ORDER_NUM = #{orderNum,jdbcType=DECIMAL},
      </if>
      <if test="isDelete != null">
        IS_DELETE = #{isDelete,jdbcType=CHAR},
      </if>
        SYS_UPDATE_DATE = sysdate,
    </set>
    where MENU_ID = #{menuId,jdbcType=DECIMAL}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.www.demo.model.entity.SysMenuEntity">
    update SYS_MENU
    set MENU_CODE = #{menuCode,jdbcType=VARCHAR},
      MENU_NAME = #{menuName,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=DECIMAL},
      MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      MENU_ICON = #{menuIcon,jdbcType=VARCHAR},
      ORDER_NUM = #{orderNum,jdbcType=DECIMAL},
      IS_DELETE = #{isDelete,jdbcType=CHAR},
      SYS_UPDATE_DATE = sysdate
    where MENU_ID = #{menuId,jdbcType=DECIMAL}
  </update>
</mapper>